@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:"Abraham-Lincoln";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FDF7F1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family:"Abraham-Lincoln";

  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family:"Abraham-Lincoln";
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: Whimsical-script;
  src: url(../font/WhimsicalRomanceScript-Regular.otf) format("opentype");
}

@font-face {
  font-family: Whimsical;
  src: url(../font/WhimsicalRomanceSans-Regular.otf) format("opentype");
}

#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #FDF7F1;
  max-width: 1280px;
}

body, html {
  height: 100%;
}

.hero-image {
  background-image: url(../images/hero.png);

  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  bottom: 0%;
  left: 0%;
  color:#FDF7F1;
  padding: 20px;
}

.hero-header {
  font-family: 'Whimsical-Script';
}

.text-block {
  padding: 2em;
  margin: 5px;
}

@font-face {
  font-family: Abraham;
  src: url('../font/AbrahamLincoln.woff') format('woff');
  }


  /* styles.css */

.bg-desktop {
  background-image: url('../src/assets/doodles/rsvp/background.png');
  background-size: cover;
  background-position: center;
}

.bg-mobile {
  background-image: url('../src/assets/doodles/rsvp/background-mb.png');
  background-size: cover;
  background-position: center;
}

@media (max-width: 380px) {
  .bg-responsive {
    background-image: url('./assets/doodles/rsvp/background-mb.png');
  }
}

@media (min-width: 381px) {
  .bg-responsive {
    background-image: url('./assets/doodles/rsvp/background.png');
  }
}

